<h1>Invite Your Coworkers</h1>

<%= simple_form_for @invitation, :url => invitation_path do |f| %>
  <ol>
    <li><%= f.input :email %></li>
    <li class="form-footer">
      <%= f.button :submit, "Send Invitation", :class => "button primary" %>
    </li>
  </ol>
<% end %>