<h1>Invite Your Coworkers</h1>

<%= simple_form_for @invitation, :url => invitation_path do |f| %>
  <%= f.input :email %>
  <%= f.button :submit, "Send Invite", :class => "button primary" %>
<% end %>