development:
  adapter: postgresql
  database: the_paint_drop_development
  username: <%= `whoami`.chomp  %>
  password:
  hostname: localhost

test:
  adapter: postgresql
  database: the_paint_drop_test
  username: <%= `whoami`.chomp  %>
  password:
  hostname: localhost

production:
  adapter: postgresql
  database: the_paint_drop_production
  username: <%= `whoami`.chomp  %>
  password:
  hostname: localhost