// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

.images {
  .image {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;

    img {
      margin-top: 15px;
    }

    .media img {
      margin-top: 0;
    }
  }
}
