<div class="well">
  <%= simple_form_for :image, :url => images_path do |f| %>
    <%= f.file_field :file %>
    <%= f.button :submit, :value => "Add it!", :class => "btn-primary btn-large" %>
  <% end %>
</div>