<%= render "form" %>

<% unless @images.empty? %>
  <ul class="images row">
    <%= render @images %>
  </ul>
  <%= paginate @images %>
<% else %>
  <div class='alert'><%= no_images_message %></div>
<% end %>
