<%= render "form" %>

<% if @images.any? %>
  <ul class="images row">
    <%= render @images %>
  </ul>
  <%= paginate @images %>
<% else %>
  <div class="alert">(Crickets) There aren't any images here yet.</div>
<% end %>
